/* Task Styles */
.task-list{
  background-color: rgba(24, 214, 189, 0.178);
  min-width: 25rem;
  max-height: 25rem;
  position: center;
}

.task-row{
  transform: translateY(3rem);
  padding-right:3rem;
}

.task-in{
  background-color: rgba(250, 203, 196, 0.342);
  max-height: 4rem;
}

.list-content{
  position:relative
}

.list-scroll{
  max-height: 17rem;
  overflow-y: auto;
}

.deleted{
  transform: translateY(-23px);
  position: relative;
}

.addbutton{
  background-color:rgba(24, 214, 189, 0.315) ;
  color: ghostwhite;
  transform: translateY(-2px);
}

.done{
  transform: translateX(20px);
}


/* Weather Style */

.weatherCard{
  color: rgb(255, 255, 255);
  position:relative;
  background-color:transparent;
}

.currentweather{
  transform: translateX(20px)translateY(-90px);
  min-width: 4rem;
}

.weather-place{
  transform: translateY(-110px)translateX(-10px);
}

.temp-card{
  transform: translateX(-20px)translateY(-30px)
}

/* Quote Style */

.quote-footer{
  color:ghostwhite;
  font-family: 'Kaisei HarunoUmi', serif;
  font-style: normal;
}



/* Clock Style */

.clockstyle{
 transform: translateY(120px);
 font-size: 200%;
 font-family: 'Josefin Sans', sans-serif;
 color: ghostwhite;
}

.clockFont{
  font-size: 250%;
}

/* nav */

.drop-menu{
  background-color:rgba(24, 214, 189, 0.178) ;
  color: ghostwhite;
}

.button-menu{
  background-color: rgba(194, 236, 57, 0.226);
  color: ghostwhite;
}